<div role="main" class="main-content">
  <div class="page-content container container-plus">
    <div class="card acard mt-2 mt-lg-3">
      <div class="card-header">
        <h3 class="card-title text-125 text-primary-d2">
          <i class="far fa-edit text-dark-l3 mr-1"></i>
          Registrar Curso
        </h3>
      </div>
      <div class="card-body px-3 pb-1">
        <form class="mt-lg-3" autocomplete="off">

          <!-- Campo Course (PK) -->
          <div class="form-group row">
            <div class="col-sm-3 col-form-label text-sm-right pr-0">
              <label for="txtCourse" class="mb-0">Nombre del Curso (PK)</label>
            </div>
            <div class="col-sm-9">
              <input type="text"
                     id="txtCourse"
                     [readonly]="txtCourseReadonly"
                     class="form-control col-sm-8 col-md-6"
                     #txtCourse>
            </div>
          </div>

          <div class="mt-5 border-t-1 bgc-secondary-l4 brc-secondary-l2 py-35 mx-n25">
            <div class="offset-md-3 col-md-9 text-nowrap">
              <a class="btn btn-info btn-bold px-4"
                 [class.disabled]="saving"
                 (click)="save()">
                <i class="fa fa-check mr-1"></i> {{ saving ? 'Guardando...' : 'Guardar' }}
              </a>
              <a class="btn btn-outline-lightgrey btn-bgc-white btn-bold ml-2 px-4"
                 routerLink="/enterprise/student/page/listcourse">
                <i class="fa fa-undo mr-1"></i> Volver
              </a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>