<div role="main" class="main-content">

    <div class="page-content container container-plus">
        <div class="card acard mt-2 mt-lg-3">
            <div class="card-header">
                <h3 class="card-title text-125 text-primary-d2">
                    <i class="far fa-edit text-dark-l3 mr-1"></i>
                    Registrar Cliente
                </h3>
            </div>

            <div class="card-body px-3 pb-1">
                <form class="mt-lg-3" autocomplete="off">


                    <div class="form-group row">
                        <div class="col-sm-3 col-form-label text-sm-right pr-0">
                            <label for="id-form-field-1" class="mb-0">
                                Tipo Persona
                            </label>
                        </div>

                        <div class="col-sm-9">
                            <select class="form-control col-sm-8 col-md-6" #cboPersonType>
                                <option value="01">NATURAL</option>
                                <option value="04">JURIDICA</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3 col-form-label text-sm-right pr-0">
                            <label for="id-form-field-1" class="mb-0">
                                Tipo de documento
                            </label>
                        </div>

                        <div class="col-sm-9">
                            <select class="form-control col-sm-8 col-md-6" #cboDocumentType>
                                <option value="01">DNI</option>
                                <option value="04">CARNET EXTRANJERIA</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3 col-form-label text-sm-right pr-0">
                            <label for="id-form-field-1" class="mb-0">
                                Número de documento
                            </label>
                        </div>

                        <div class="col-sm-9">
                            <input type="text" 
                                    class="form-control col-sm-8 col-md-6" 
                                    #txtDocumentNum
                                    (change)="findByDocumentNum()"
                            >
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3 col-form-label text-sm-right pr-0">
                            <label for="id-form-field-1" class="mb-0">
                                Nombres
                            </label>
                        </div>

                        <div class="col-sm-9">
                            <input type="text" class="form-control col-sm-8 col-md-6" #txtNames>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3 col-form-label text-sm-right pr-0">
                            <label for="id-form-field-1" class="mb-0">
                                Apellidos
                            </label>
                        </div>

                        <div class="col-sm-9">
                            <input type="text" class="form-control col-sm-8 col-md-6" #txtLastNames>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3 col-form-label text-sm-right pr-0">
                            <label for="id-form-field-1" class="mb-0">
                                Celular
                            </label>
                        </div>

                        <div class="col-sm-9">
                            <input type="text" class="form-control col-sm-8 col-md-6" #txtCellPhone>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3 col-form-label text-sm-right pr-0">
                            <label for="id-form-field-1" class="mb-0">
                                Email
                            </label>
                        </div>

                        <div class="col-sm-9">
                            <input type="text" class="form-control col-sm-8 col-md-6" #txtEmail>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3 col-form-label text-sm-right pr-0">
                            <label for="id-form-field-1" class="mb-0">
                                Telefono fijo
                            </label>
                        </div>

                        <div class="col-sm-9">
                            <input type="text" class="form-control col-sm-8 col-md-6" #txtPhone>
                        </div>
                    </div>

                    <div class="mt-5 border-t-1 bgc-secondary-l4 brc-secondary-l2 py-35 mx-n25">
                        <div class="offset-md-3 col-md-9 text-nowrap">
                            <a 
                                class="btn btn-info btn-bold px-4" 
                                type="button"
                                (click)="save()"
                            >
                                <i class="fa fa-check mr-1"></i>
                                Guardar
                            </a>

                            <a class="btn btn-outline-lightgrey btn-bgc-white btn-bold ml-2 px-4" 
                                type="reset"
                                href="/enterprise/client/pages/listclient"
                                *ngIf="(InvokeType=='form')"
                            >
                                <i class="fa fa-undo mr-1"></i>
                                Cancelar
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
