<div role="main" class="main-content">

    <div class="page-content container container-plus">
        <div class="card acard mt-2 mt-lg-3">
            <div class="card-header">
                <h3 class="card-title text-125 text-primary-d2">
                    <i class="far fa-edit text-dark-l3 mr-1"></i>
                    Registrar Pago
                </h3>
            </div>

            <div class="card-body px-3 pb-1">
                <form class="mt-lg-3" autocomplete="off">

                    <div class="form-group row">
                        <div class="col-sm-3 col-form-label text-sm-right pr-0">
                            <label for="id-form-field-1" class="mb-0">
                                Saldo por pagar
                            </label>
                        </div>

                        <div class="col-sm-9">
                            <input type="text" 
                                    class="form-control col-sm-8" 
                                    value="{{TrxPaymentComponenRequest.InputOutstandingBalance| FormatoMonedaPeruana : false }}"
                                    [disabled]="true"
                            >
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3 col-form-label text-sm-right pr-0">
                            <label for="id-form-field-1" class="mb-0">
                                Tipo de medio de pago
                            </label>
                        </div>

                        <div class="col-sm-9">
                            <select class="form-control col-sm-8" (change)="selectPaymentMethodCod()" #cboPaymentMethodCod>
                                <option *ngFor="let item of paymentMethodList" [value]="item.PaymentMethodCod">{{ item.Name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row" [hidden]="!txtDocumentVisible">
                        <div class="col-sm-3 col-form-label text-sm-right pr-0">
                            <label for="id-form-field-1" class="mb-0">
                                Nota de crédito
                            </label>
                        </div>

                        <div class="input-group col-sm-6">
                            <input type="text" 
                                class="form-control" 
                                placeholder="Busca el documento de venta ..."
                                #txtDocumentCod />
                            <div class="input-group-append">
                              <button class="btn btn-blue px-3 btn-sm" type="button" (click)="FindByDocumentCod()">
                                <i class="fa fa-search-plus text-105"></i>
                              </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3 col-form-label text-sm-right pr-0">
                            <label for="id-form-field-1" class="mb-0">
                                Moneda
                            </label>
                        </div>

                        <div class="col-sm-9">
                            <select class="form-control col-sm-8" #cboCurrencyCod>
                                <option *ngFor="let item of currencyList" [value]="item.CurrencyCod">({{ item.CurrencyAbbr }}) - {{ item.CurrencyName }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3 col-form-label text-sm-right pr-0">
                            <label for="id-form-field-1" class="mb-0">
                                Monto
                            </label>
                        </div>

                        <div class="col-sm-9">
                            <input type="number" 
                                    class="form-control col-sm-8"
                                    value="{{ TrxPaymentComponenRequest.InputOutstandingBalance }}"
                                    #txtAmountPaid
                            >
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                          <div class="card dcard">
                              <div class="card-body px-1 px-md-3">
            
                                <form autocomplete="off">            
                                  <table id="simple-table" class="mb-0 table table-borderless table-bordered-x brc-secondary-l3 text-dark-m2 radius-1 overflow-hidden">
                                    <thead class="text-dark-tp3 bgc-grey-l4 text-90 border-b-1 brc-transparent">
                                      <tr>           
                                        <th>Id</th>
                                        <th>Forma Pago</th>        
                                        <th>Monto Pagado</th>
                                        <th>Vuelto</th>
                                        <th>Fecha transaccion</th>                                         
                                      </tr>
                                    </thead>
            
                                    <tbody class="mt-1">
                                      <tr class="bgc-h-yellow-l4 d-style" *ngFor="let item of TrxPaymentComponenRequest.TrxPaymentList">            
                                        <td class="text-600">
                                          {{ item.TrxPaymentId }}
                                        </td>
                                        <td class="text-600">
                                            {{ getPaymentDescription(item.PaymentMethodCod) }}
                                        </td>
                                        <td class="text-800">
                                         {{ item.AmountPaid | currency: item.CurrencyCod + ' '}}
                                        </td>
                                        <td class="text-800">
                                            {{ item.AmountReturned | currency: item.CurrencyCod + ' '}}
                                        </td>
                                        <td class="text-800">
                                            {{ item.CreationDate | date : 'dd/MM/yyyy hh:mm:ss' }}
                                        </td>
                                      </tr>       
                                    </tbody>
                                  </table>
            
                                </form>
            
                              </div><!-- /.card-body -->
                            </div>
                        </div>
                        
                    </div>

                    <div class="mt-5 border-t-1 bgc-secondary-l4 brc-secondary-l2 py-35 mx-n25">
                        <div class="offset-md-3 col-md-9 text-nowrap">
                            <a 
                                class="btn btn-info btn-bold col-sm-8" 
                                type="button"
                                (click)="Save()"
                            >
                                <i class="fa fa-check mr-1"></i>
                                Guardar
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>

    </div>