<div class="page-content container container-plus">

  <div class="row">
    <div class="col-12 col-lg-12">
      <div class="d-lg-none my-2">
        <!-- the button to toggle filters modal in small devices -->
        <button type="button" class="btn btn-block btn-outline-blue btn-sm text-600 shadow-sm py-1 py-md-2"
          data-toggle="modal" data-target="#search-filters">
          <span class="position-tl h-101 px-25 text-center bgc-blue-d1 pt-1 text-white">
            <i class="fas fa-filter text-110"></i>
          </span>
          Filter results
        </button>
      </div>

      <!-- .modal-off-lg will turn off modal features in lg+ view. So .modal is displayed without needing to toggle it -->
      <div id="search-filters" class="modal fade modal-off-lg">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content brc-dark-l4 border-y-0 border-l-0 pr-lg-3">

            <div class="modal-header d-lg-none">
              <!-- .hide header in lg+ view -->
              <h5 class="modal-title text-primary-d1">
                Filter results
              </h5>

              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>


            <div class="modal-body pt-lg-1 px-1 ace-scrollbar">

              <div class="card acard">
                <div class="card-header border-0 py-0">
                  <a href="#" data-action="toggle"
                    class="d-flex d-style w-100 align-items-center px-2 py-1 text-grey-d1 text-105 bgc-h-primary-l3 radius-1 no-underline">
                    <span class="d-collapsed">
                      Buscar
                    </span>

                    <span class="d-n-collapsed text-dark-m3 text-600 ">
                      Buscar
                    </span>

                    <i class="fa fa-angle-up ml-auto mr-1"></i>
                  </a>
                </div>

                <div class="card-body p-0">
                  <div class="p-2 px-25">
                    <div class="input-group">
                      <input 
                          type="text" 
                          class="form-control" 
                          placeholder="Search within results ..."
                          #txt_filtro_busqueda
                          (keydown)="FiltrarProductoEnter($event)"
                      />
                      <div class="input-group-append">
                        <button class="btn btn-blue px-3 btn-sm" type="button" (click)="FiltrarProducto()">
                          <i class="fa fa-search-plus text-105"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div><!-- /.col -->
  </div>

  <div class="row" *ngIf="(ShoppingCart.DetailList.length > 0)">
    <div class="col-12">
      <div class="card dcard">
        <div class="card-body px-1 px-md-3">

          <form autocomplete="off">
            <div class="d-flex justify-content-between flex-column flex-sm-row mb-3 px-2 px-sm-0">
              <h3 class="text-125 pl-1 mb-3 mb-sm-0 text-secondary-d4">
                Detalle preventa
              </h3>
            </div>

            <div class="d-flex justify-content-between flex-column flex-sm-row mb-3 px-2 px-sm-0"
              *ngIf="(ShoppingCart.Headboard.ClientCod!== '' && ShoppingCart.Headboard.ClientCod!== null && ShoppingCart.Headboard.Client!=null)">
              <div class="text-center mt-2">
                <h5 class="text-primary">
                  <b>Cliente</b> : {{ ShoppingCart.Headboard.Client.Person.DocumentNum }} - {{ ShoppingCart.Headboard.Client.Person.Names }} {{
                  ShoppingCart.Headboard.Client.Person.LastNames }}
                </h5>
              </div>
            </div>

            <table id="simple-table"
              class="mb-0 table table-borderless table-bordered-x brc-secondary-l3 text-dark-m2 radius-1 overflow-hidden">
              <thead class="text-dark-tp3 bgc-grey-l4 text-90 border-b-1 brc-transparent">
                <tr>
                  <th>
                    Producto
                  </th>

                  <th>
                    Precio
                  </th>

                  <th class="d-none d-sm-table-cell">
                    Cantidad
                  </th>
                  <th class="d-none d-sm-table-cell">
                    Sub Total
                  </th>
                  <th>
                    Descuento
                  </th>
                  <th class="d-none d-sm-table-cell">
                    Total
                  </th>
                  <th></th>
                </tr>
              </thead>

              <tbody class="mt-1">
                <tr class="bgc-h-yellow-l4 d-style" *ngFor="let Product of ShoppingCart.DetailList">
                  <td>
                    <a href="#" class="text-blue-d1 text-600 text-95">{{ Product.getNameSummary() }}</a>
                  </td>

                  <td class="text-600 text-orange-d2">
                    PEN {{ Product.NumUnitPrice }}
                  </td>

                  <td class="d-none d-sm-table-cell text-grey-d1">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                      <button type="button" class="btn btn-danger"
                      (click)="subtractUnitDirect(Product.ProductCod)"
                      >-</button>
                      <input type="text" value="{{ Product.NumUnit }}" class="form-control" [disabled]="true"
                        style="width: 80px; text-align: center;">
                      <button type="button" class="btn btn-success"
                      (click)="addUnitDirect(Product.ProductCod)"
                      >+</button>
                    </div>
                  </td>

                  <td class="text-600 text-orange-d2">
                    PEN {{ Product.NumUnitPrice * Product.NumUnit }}
                  </td>
                  <td class="text-600 text-orange-d2">
                    PEN {{ Product.NumDiscount * Product.NumUnit }}
                  </td>
                  <td class="text-600 text-orange-d2">
                    PEN {{ Product.NumTotalPrice }}
                  </td>
                  <td>
                    <!-- action buttons -->
                    <div class="d-none d-lg-flex">
                      <a href="#"
                        class="mx-2px btn radius-1 border-2 btn-xs btn-brc-tp btn-light-secondary btn-h-lighter-success btn-a-lighter-success"
                        data-toggle="modal" data-target="#ProductModal" (click)="findDetailById(Product.ProductCod)">
                        <i class="fa fa-pencil-alt"></i>
                      </a>

                      <a href="#"
                        class="mx-2px btn radius-1 border-2 btn-xs btn-brc-tp btn-light-secondary btn-h-lighter-danger btn-a-lighter-danger"
                        (click)="DeleteProduct(Product.ProductCod)">
                        <i class="fa fa-trash-alt"></i>
                      </a>
                      <a href="#"
                        class="mx-2px btn radius-1 border-2 btn-xs btn-brc-tp btn-light-secondary btn-h-lighter-warning btn-a-lighter-warning">
                        <i class="fa fa-ellipsis-v mx-1"></i>
                      </a>
                    </div>

                    <!-- show a dropdown in mobile -->
                    <div class="dropdown d-inline-block d-lg-none dd-backdrop dd-backdrop-none-lg">
                      <a href="#" class="btn btn-default btn-xs py-15 radius-round dropdown-toggle"
                        data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                      </a>

                      <div class="dropdown-menu dd-slide-up dd-slide-none-lg">
                        <div class="dropdown-inner">
                          <div
                            class="dropdown-header text-100 text-secondary-d1 border-b-1 brc-secondary-l2 text-600 mb-2">
                            ace.com
                          </div>
                          <a href="#" class="dropdown-item">
                            <i class="fa fa-pencil-alt text-blue mr-1 p-2 w-4"></i>
                            Edit
                          </a>
                          <a href="#" class="dropdown-item">
                            <i class="fa fa-trash-alt text-danger-m1 mr-1 p-2 w-4"></i>
                            Delete
                          </a>
                          <a href="#" class="dropdown-item">
                            <i class="far fa-flag text-orange-d1 mr-1 p-2 w-4"></i>
                            Flag
                          </a>
                        </div>
                      </div>
                    </div>

                  </td>
                </tr>
                <tr class="border-0 detail-row bgc-white">
                  <td colspan="8" class="p-0 border-none brc-secondary-l2">
                    <div class="table-detail collapse" id="table-detail-0">
                      <div class="row">
                        <div class="col-12 col-md-10 offset-md-1 p-4">
                          <div
                            class="alert bgc-secondary-l4 text-dark-m2 border-none border-l-4 brc-primary-m1 radius-0 mb-0">
                            <h4 class="text-primary">
                              Row Details
                            </h4>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo massa sed ipsum
                            porttitor facilisis.
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </form>

        </div>
        <div class="card-body px-1 px-md-3">
          <div class="row">
            <div class="col-sm-2">
              <button type="button" class="btn btn-primary btn-bold px-4" type="button" data-toggle="modal"
                data-target="#CommentSaleModal" (click)="InitSale()" style="width: 100%;">
                Guardar
              </button>
            </div>

            <div class="col-sm-3">
              <button type="button" class="btn btn-lighter-default btn-h-outline-red btn-a-red px-45 btn-bold mb-1"
                type="button" data-toggle="modal" data-target="#ClientModal" (click)="OpenClientModal()"
                style="width: 100%;">
                Agregar cliente
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">

    <!-- results -->
    <div class="col-12 col-lg-12 pb-3">

      <div class="text-center" *ngIf="(g_RptBusquedaProducto.num_resultados > 0)">
        <nav class="mt-3 d-sm-inline-block shadow-sm border-1 brc-secondary-l2 radius-1 bgc-secondary-l5 px-2"
          aria-label="Search results navigation">
          <ul class="pagination d-flex nav-tabs-scroll is-scrollable p-0 my-1">
            <li class="page-item mr-15" *ngFor="let Boton of g_ListaBoton">

              <a class="page-link btn btn-sm btn-bgc-tp p-25 radius-3px btn-light-secondary border-0" href="#"
                (click)="FiltrarProducto(Boton.valor_boton)" *ngIf="(Boton.nom_boton === 'Prev')">
                <i class="fa fa-arrow-left text-110 mr-1"></i>
                Prev
              </a>

              <a class="page-link btn btn-sm btn-bgc-tp p-25 radius-3px btn-light-secondary border-0" href="#"
                (click)="FiltrarProducto(Boton.valor_boton)" *ngIf="(Boton.nom_boton === 'Next')">
                Next
                <i class="fa fa-arrow-right text-110 ml-1"></i>
              </a>

              <a class="w-5 page-link btn p-25 btn-sm border-0 btn-bgc-tp radius-3px text-600 btn-light-black btn-h-primary btn-a-primary"
                href="#" (click)="FiltrarProducto(Boton.valor_boton)"
                [ngClass]="{'active': Boton.flg_boton_actual === true}"
                *ngIf="(Boton.nom_boton !== 'Prev' && Boton.nom_boton !== 'Next')">
                {{ Boton.nom_boton }}
              </a>

            </li>
          </ul>
        </nav>
      </div>

      <hr class="brc-secondary-l3 m-2" />

      <div class="bgc-default-l4 radius-1 p-25 border-1 brc-default-l3 mt-4 pt-lg-3 mb-1">
        <div class="d-flex flex-column flex-sm-row">
          <h3 class="text-dark-tp3 text-125 mb-0 ml-sm-2">
            <span class="text-primary-d4 text-115">{{ g_RptBusquedaProducto.num_resultados }}</span> productos
            encontrados
          </h3>

          <div class="ml-auto mt-2 mt-sm-0">
            <label class="mb-0 d-inline-block text-sm">
              Sort by:
            </label>
            <div class="ml-2 d-inline-block">
              <select class="ace-select brc-blue-m4 brc-h-blue-m1 pr-5 text-90 h-auto border-1">
                <option>Relevance</option>
                <option>Date</option>
                <option>Price</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <!-- sponsored results -->
      <div class="bgc-secondary-l4 brc-dark-l3 border-1 px-35 pb-3 pt-25 radius-1"
        *ngFor="let SubListaProducto of productListHtml">
        <div class="row">
          <div class="col-12 col-lg-3 pr-2 mb-3 mb-lg-0" *ngFor="let product of SubListaProducto">
            <div class="dcard brc-transparent p-3 brc-h-warning-m3">

              <img *ngIf="(product.FileRoute === null)" src="http://localhost:4200/assets/image/avatar/NO_IMAGEN.png"
                class="radius-1 w-100" alt="Product Image" />
              <img *ngIf="(product.FileRoute !== null)"
                src="{{product.FileRoute}}"
                class="radius-1 w-100" alt="Product Image" />

              <div class="my-3 text-90 text-warning-m2">
                <span class="text-grey-m1 ml-1">
                  #{{product.ProductCod}}
                  <!-- <span class="badge bgc-pink text-white text-xs align-middle">PROMOCION</span> -->
                  <span class="badge bgc-blue-d1 text-white text-xs align-middle"
                    *ngIf="(product.IsDiscontable === 'S')">
                    PROMOCION !
                  </span>
                </span>
              </div>

              <h3 class="text-primary text-110">
                PRECIO : {{ product.NumPrice | currency: product.CurrencyCod + ' '}}
              </h3>
              <h4 class="text-danger text-100">
                STOCK : {{product.NumDigitalStock }}
              </h4>
              <div>
                {{product.ProductName}}
              </div>
              <div>
                <a href="#" class="btn btn-white btn-h-info btn-a-info btn-sm px-3" data-toggle="modal"
                  data-target="#ProductModal" (click)="findDetailById(product.ProductCod)">
                  <i class="fa fa-shopping-cart d-sm-none mr-2"></i>
                  Comprar
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="h-1">
        <!-- add some space -->
      </div>

      <hr class="brc-secondary-l3 m-2" />

      <!-- pagination -->
      <div class="text-center" *ngIf="(g_RptBusquedaProducto.num_resultados > 0)">
        <nav class="mt-3 d-sm-inline-block shadow-sm border-1 brc-secondary-l2 radius-1 bgc-secondary-l5 px-2"
          aria-label="Search results navigation">
          <ul class="pagination d-flex nav-tabs-scroll is-scrollable p-0 my-1">

            <li class="page-item mr-15" *ngFor="let Boton of g_ListaBoton">

              <a class="page-link btn btn-sm btn-bgc-tp p-25 radius-3px btn-light-secondary border-0" href="#"
                (click)="FiltrarProducto(Boton.valor_boton)" *ngIf="(Boton.nom_boton === 'Prev')">
                <i class="fa fa-arrow-left text-110 mr-1"></i>
                Prev
              </a>

              <a class="page-link btn btn-sm btn-bgc-tp p-25 radius-3px btn-light-secondary border-0" href="#"
                (click)="FiltrarProducto(Boton.valor_boton)" *ngIf="(Boton.nom_boton === 'Next')">
                Next
                <i class="fa fa-arrow-right text-110 ml-1"></i>
              </a>

              <a class="w-5 page-link btn p-25 btn-sm border-0 btn-bgc-tp radius-3px text-600 btn-light-black btn-h-primary btn-a-primary"
                href="#" (click)="FiltrarProducto(Boton.valor_boton)"
                [ngClass]="{'active': Boton.flg_boton_actual === true}"
                *ngIf="(Boton.nom_boton !== 'Prev' && Boton.nom_boton !== 'Next')">
                {{ Boton.nom_boton }}
              </a>

            </li>

          </ul>
        </nav>
      </div>


    </div><!-- /.col -->

  </div><!-- /.row -->
</div>


<div class="modal fade" id="ProductModal" tabindex="-1" role="dialog" aria-labelledby="ProductModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 150%;">
      <div class="modal-header">
        <h5 class="modal-title text-primary-d3" id="ProductModalLabel">
          Producto : {{ productInfoDtoSelect.Product.ProductCod }}
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="card acard">
          <div class="card-body p-0">
            <div class="table-responsive-md">
              <table class="table table-bordered border-0	table-striped-secondary text-dark-m1 mb-0">
                <tbody>
                  <tr>
                    <td><b>Codigo</b></td>
                    <td>{{productInfoDtoSelect.Product.ProductCod}}</td>
                  </tr>
                  <tr>
                    <td><b>Nombre</b></td>
                    <td>{{productInfoDtoSelect.Product.ProductName}}</td>
                  </tr>
                  <tr>
                    <td><b>Descripción</b></td>
                    <td>{{ productInfoDtoSelect.Product.ProductDesc }}</td>
                  </tr>
                  <tr>
                    <td><b>Precio</b></td>
                    <td>{{productInfoDtoSelect.Config.NumPrice | currency: CurrencySystem.CurrencyCod + ' '}}</td>
                  </tr>
                  <tr>
                    <td><b>Stock</b></td>
                    <td>{{ NumPhysicalStockTotal }}</td>
                  </tr>
                  <tr>
                    <td><b>Total</b></td>
                    <td>{{ productInfoDtoSelect.Config.NumPrice * getTotalProduct(productInfoDtoSelect.Product.ProductCod) | currency: CurrencySystem.CurrencyCod + ' ' }}</td>
                  </tr>
                  <tr *ngIf="(productInfoDtoSelect.VariantList.length == 1 )">
                    <td><b>Cantidad</b></td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-danger"
                          (click)="subtractUnit(productInfoDtoSelect,productInfoDtoSelect.VariantList[0])">-</button>
                        <input type="text" #txt_NumUnit
                          (change)="HandbookUnit(productInfoDtoSelect,productInfoDtoSelect.VariantList[0])"
                          class="form-control" style="width: 80px;text-align: center;"
                          value="{{ getTotalProduct(productInfoDtoSelect.Product.ProductCod) }}">
                        <button type="button" class="btn btn-success"
                          (click)="addUnit(productInfoDtoSelect,productInfoDtoSelect.VariantList[0])">+</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card border-0" *ngIf="(productInfoDtoSelect.VariantList.length > 1 )">
          <div class="card-header bg-transparent border-0 pl-1">
            <h5 class="card-title mb-2 mb-md-0 text-120 text-grey-d3">
              <i class="fa fa-star mr-1 text-orange text-90"></i>
              Variaciones del producto
            </h5>

            <div class="card-toolbar align-self-center">
              <a href="#" data-action="toggle" class="card-toolbar-btn text-grey text-110">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <div class="card-body p-0 ccard overflow-hidden">
            <table class="table brc-black-tp11">
              <thead class="border-0">
                <tr class="border-0 bgc-dark-l5 text-dark-tp5">
                  <th class="border-0 pl-4">
                    variaciones
                  </th>
                  <th class="border-0">
                    cantidad
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr class="bgc-h-secondary-l4" *ngFor="let VariaProduct of productInfoDtoSelect.VariantList">
                  <td class="text-dark-tp3 opacity-1 text-95 text-600 pl-4">
                    {{ VariaProduct.VariantDesc }}
                  </td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                      <button type="button" class="btn btn-danger"
                        (click)="subtractUnit(productInfoDtoSelect,VariaProduct)">-</button>
                      <input #txt_NumUnit (change)="HandbookUnit(productInfoDtoSelect,VariaProduct)" type="text"
                        value="0" class="form-control" style="width: 80px; text-align: center;"
                        value="{{ getTotalProductVariant(productInfoDtoSelect.Product.ProductCod,VariaProduct.Variant) }}">
                      <button type="button" class="btn btn-success"
                        (click)="addUnit(productInfoDtoSelect,VariaProduct)">+</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br />
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Ok
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="CommentSaleModal" data-backdrop-bg="bgc-grey-tp4" data-blur="true" tabindex="-1"
  role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content border-0 shadow radius-1" *ngIf="(ShoppingCartResult.Headboard.PresaleCod ==='')">
      <div class="modal-header">
        <h5 class="modal-title text-primary-d2" id="CommentSaleModal">
          Realizar venta
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body modal-scroll">
        <strong>¿Esta seguro que desea confirmar la siguiente venta?</strong>
      </div>

      <div class="modal-footer bgc-default-l5">
        <button type="button" class="btn btn-primary" (click)="save()">
          Confirmar
        </button>
      </div>
    </div>

    <div class="modal-content border-0 shadow radius-1" *ngIf="(ShoppingCartResult.Headboard.PresaleCod !=='')">
      <div class="modal-header">
        <h5 class="modal-title text-primary-d2" id="CommentSaleModal">
          Venta realizada
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body modal-scroll">
        <strong>CODIGO DE VENTA : {{ ShoppingCartResult.Headboard.PresaleCod }}</strong>
      </div>

      <div class="modal-footer bgc-default-l5">

        <button type="button" class="btn btn-primary" (click)="newSale()">
          Ir a nueva venta
        </button>
        <button type="button" class="btn btn-success" (click)="Confirm()" data-dismiss="modal">
          Facturar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ClientModal" tabindex="-1" role="dialog" aria-labelledby="ClientModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document" *ngIf="(ShowClientSearch === true)">
    <div class="modal-content" style="width: 100%;">
      <div class="modal-header">
        <h5 class="modal-title text-primary-d3" id="ClientModalLabel">
          Buscar cliente
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-4 col-form-label">Tipo documento</label>
          <div class="col-sm-8">
            <select class="form-control" #cboDocumentType>
              <option value="01">DNI</option>
              <option value="02">CARNET DE EXTRANJERIA</option>
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-4 col-form-label">N° Documento</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" #txtDocumentNum>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" (click)="findByDocumentNum()">
          Buscar
        </button>
      </div>
    </div>
  </div>

  <div class="modal-dialog" role="document" *ngIf="(ShowClientRegister === true)">
    <div class="modal-content" style="width: 180%;">

      <div class="modal-body">
        <app-createclient 
          (ResultForm)="ResponseResultFormClient($event)"
          [InputDocumentNum]="DocumentNum"
          [InputDocumentType]="DocumentType"
          [InvokeType]="'modal'"
        >
        </app-createclient>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Ok
        </button>
      </div>
    </div>
  </div>

  <div class="modal-dialog" role="document" *ngIf="(ShowClient === true)">
    <div class="modal-content" style="width: 120%;">

      <div class="modal-body" *ngIf="(ShoppingCart.Headboard.Client!=null)">
        <div class="p-2 py-lg-3 d-flex pos-rel mx-1 justify-content-start justify-content-lg-center ccard">
          <div class="pl-1">
            <span class="d-inline-block bgc-purple-tp1 p-3 radius-round text-center border-2 brc-black-tp11">
              <i class="far fa-user text-white text-170 w-3 mx-3px"></i>
            </span>
          </div>
          <div class="pl-25">
            <div class="d-flex align-items-center justify-content-between justify-content-md-start">
              <span class="text-grey-d3 text-160 mr-4">
                {{ ShoppingCart.Headboard.Client.Person.Names }} {{ ShoppingCart.Headboard.Client.Person.LastNames }}                
              </span>
              <!-- <div class="text-danger opacity-2 pr-1 font-bolder">
                4%
                <i class="fas fa-long-arrow-alt-down text-120"></i>
              </div> -->
            </div>
            <div class="text-nowrap">
              N° Documento : {{ ShoppingCart.Headboard.Client.Person.DocumentNum }}
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Ok
        </button>
      </div>
    </div>
  </div>

</div>