<div class="modal fade" id="{{ htmlId }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-primary-d3" id="exampleModalLabel">
             {{ htmlTitle }}
            </h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            {{ htmlMessage }}
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary px-4" data-dismiss="modal">
                Cancelar
            </button>

            <button 
                type="button" class="btn btn-primary" data-dismiss="modal"
                (click)="actionModal()"
            >
                Confirmar
            </button>
        </div>
        </div>
    </div>
</div>