<div role="main" class="main-content">
    <div class="page-content container container-plus">
      <div class="card acard mt-2 mt-lg-3">
        <div class="card-header">
          <h3 class="card-title text-125 text-primary-d2">
            <i class="far fa-edit text-dark-l3 mr-1"></i>
            Registrar Ejercicio
          </h3>
        </div>
        <div class="card-body px-3 pb-1">
          <form class="mt-lg-3" autocomplete="off">
            <!-- ExerciseID (se muestra en modo edición) -->
            <div class="form-group row" *ngIf="txtExerciseIDReadonly">
              <div class="col-sm-3 col-form-label text-sm-right pr-0">
                <label for="txtExerciseID" class="mb-0">ID del Ejercicio</label>
              </div>
              <div class="col-sm-9">
                <input type="number"
                       id="txtExerciseID"
                       [readonly]="txtExerciseIDReadonly"
                       class="form-control col-sm-8 col-md-6"
                       #txtExerciseID>
              </div>
            </div>
  
            <!-- ExerciseCod -->
            <div class="form-group row">
              <div class="col-sm-3 col-form-label text-sm-right pr-0">
                <label for="txtExerciseCod" class="mb-0">Código del Ejercicio</label>
              </div>
              <div class="col-sm-9">
                <input type="text"
                       id="txtExerciseCod"
                       class="form-control col-sm-8 col-md-6"
                       [readonly]="true"
                       #txtExerciseCod>
              </div>
            </div>

            <!-- Selector de Curso -->
            <div class="form-group row">
              <div class="col-sm-3 col-form-label text-sm-right pr-0">
                <label for="selectCourse" class="mb-0">Curso</label>
              </div>
              <div class="col-sm-9">
                <select id="txtCourse"
                        class="form-control col-sm-8 col-md-6"
                        #txtCourse
                        (change)="onCourseChange()">
                  <option *ngFor="let c of courses" [value]="c">{{ c }}</option>
                </select>
              </div>
            </div>
  
            <!-- TopicID -->
            <div class="form-group row">
              <div class="col-sm-3 col-form-label text-sm-right pr-0">
                <label for="txtTopicID" class="mb-0">ID del Tema</label>
              </div>
              <div class="col-sm-9">
                <select id="txtTopicID"
                        class="form-control col-sm-8 col-md-6"
                        #txtTopicID>
                  <option *ngFor="let topic of filteredTopics"
                          [value]="topic.TopicID">
                    {{ topic.Name }}
                  </option>
                </select>
              </div>
            </div>
  
            <!-- Level -->
            <div class="form-group row">
              <div class="col-sm-3 col-form-label text-sm-right pr-0">
                <label for="txtLevel" class="mb-0">Nivel de Dificultad</label>
              </div>
              <div class="col-sm-9">
                <select id="txtLevel"
                        class="form-control col-sm-8 col-md-6"
                        #txtLevel>
                  <option [value]="1">1 - Fácil</option>
                  <option [value]="2">2 - Medio</option>
                  <option [value]="3">3 - Difícil</option>
                </select>
              </div>
            </div>
  
            <!-- ImagePath -->
            <div class="form-group row">
              <div class="col-sm-3 col-form-label text-sm-right pr-0">
                <label for="txtImagePath" class="mb-0">Ruta de la Imagen</label>
              </div>
              <div class="col-sm-9">
                <input type="text"
                       [readonly]="true"
                       id="txtImagePath"
                       class="form-control col-sm-8 col-md-6"
                       #txtImagePath>
              </div>
            </div>
  
            <!-- CorrectAnswer -->
            <div class="form-group row">
              <div class="col-sm-3 col-form-label text-sm-right pr-0">
                <label for="txtCorrectAnswer" class="mb-0">Respuesta Correcta</label>
              </div>
              <div class="col-sm-9">
                <input type="text"
                       id="txtCorrectAnswer"
                       class="form-control col-sm-8 col-md-6"
                       #txtCorrectAnswer>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-3 col-form-label text-sm-right pr-0">
                <label for="txtCorrectAnswer" class="mb-0">Imagen del ejercicio</label>
              </div>
              <div class="col-sm-9">
                <input type="file" (change)="onFileSelected($event)"
                       id="txtCorrectAnswer"
                       class="form-control col-sm-8 col-md-6"
                       #fileImagePath>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-3 col-form-label text-sm-right pr-0">
                <label for="txtCorrectAnswer" class="mb-0"></label>
              </div>
              <div class="col-sm-9" *ngIf="imageToDisplay">
                <p>Vista previa de la imagen:</p>
                <img [src]="imageToDisplay" alt="Imagen subida">
              </div>
            </div>
  
            <!-- Botones de Guardar y Volver -->
            <div class="mt-5 border-t-1 bgc-secondary-l4 brc-secondary-l2 py-35 mx-n25">
              <div class="offset-md-3 col-md-9 text-nowrap">
                <a class="btn btn-info btn-bold px-4"
                   type="button"
                   (click)="save()">
                  <i class="fa fa-check mr-1"></i> Guardar
                </a>
                <a class="btn btn-outline-lightgrey btn-bgc-white btn-bold ml-2 px-4"
                   type="reset"
                   routerLink="/enterprise/student/page/listexercise">
                  <i class="fa fa-undo mr-1"></i> Volver
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>  